*.pyc
.project
.pydevproject
.nfs*
build
*~
.doctrees
.buildinfo
.idea
patches/
context.sh
.coverage
.noseids
cover/
pylint.out
nosetests.xml
staging.env
production.env
*.map
*.log
.sass-cache
dev
TODO
icons/svg/
reference/
.DS_Store
supplementary/
